body {
    max-width: 100%;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 26px;
    margin-top: 50px;
    margin-bottom: 50px;
}

table {
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
}

table, th, td {
    border: 1px solid blue;
} 
th, td {
    padding: 10px;
}

.cover {
    width: 75px;
}

.cover img {
    width: 100%;
}

.title {
    width: 125px;
    text-align: center;
}

.price {
    width: 75px;
}

.link_amazon {
    width: 100px;
    text-align: center;
}

footer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#message_board {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    text-align: center;
}

